@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&family=Source+Sans+Pro&display=swap&subset=cyrillic-ext');

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
    /*position:absolute; top:0; bottom:0; right:0; left:0;*/
    padding: 0;
    margin: 0;
    min-height: 100%;
    overflow: auto
}
root {
    --max-width: 1480px;
}

.wrapper {
    min-height: 100vh;
    background: #F6F7F9;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    display: flex;
}
*{
    /*max-width: 1480px;*/
    /*    max-width-container:1125px*/
    margin: 0;
    padding: 0;
}


/*HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-*/
.header-content{
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;

}
.logo-menu{
    display: none;
}
.header{
    background-color: #F5DB13;
    height: 5em;
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
    position: relative;
    z-index: 5;
}

.header-column:nth-child(1){
    align-self: flex-start;
    padding-left: 5em;
    width: 20%;
    padding-right: 1em;
}
.header-column:nth-child(2){
    width: 80%;
}

.menu-list{
    display: flex;
    flex-wrap: wrap;

    font-family: 'Nunito', sans-serif;


}
.menu-list li{
    flex: 0 1 25%;
    list-style: none;
    padding-right: calc(35 / var(--max-width) * 100vw);


}
.menu-list li a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 25px;
}
.menu-list li a:active{
    text-decoration: underline;
}
/*MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-*/
.page{
    flex: 1 1 auto;


}
.page-container{
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.footer{
    width: 80%;
    margin-left: 8%;
}
.footer-container{
    display: flex;
    padding-bottom: 1em;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

/*TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-TABLET-*/
@media (min-width: 768px) and (max-width: 1024px){
    .header-column:nth-child(1){
        padding-left: 1em;
    }
    .menu-list{
        margin-left: 5vw;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .menu-list li {
        flex: none;
        padding-right: 6%;

    }
    .menu-list li a{
        font-size: 19px;
    }
    .wrapper{
        justify-content: flex-start;
    }


}

/*MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-MOBILE-*/
@media (max-width: 767px) {
    .header{
        height: 4em;
    }
    .header-logo > img{
        width: 5em;
        padding-top: 1em;
    }
    .menu-list{
        flex-wrap: nowrap;
        font-family: 'Roboto', sans-serif;
        flex-direction: column;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
    }
    .header-column:nth-child(1){
        padding-left: 1em;
    }
    .menu-list li{
        margin-bottom: 0.8em;
    }
    .menu-list li a{
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 1.5em;
        right: 10px;
        width: 30px;
        height: 24px;
        cursor: pointer;
        z-index: 5;
    }
    .menu-icon > span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 3px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #000;
        border-radius: 3px;
    }
    .span-burger:first-of-type{
        top: 0;
    }
    .span-burger:last-of-type{
        top: auto;
        bottom: 0;
    }
    .span-burger-active{
        transform: scale(0);
    }
    .span-burger-active:first-of-type{
        transform: rotate(-45deg);
        top: calc(50% - 3px);
    }
    .span-burger-active:last-of-type{
        transform: rotate(45deg);
        top: calc(50% - 3px);
    }
    .header-body{
        display: none;
    }
    .header-body-show{
        position: fixed;
        height: 45%;
        width: 100%;
        top: 0;
        left: 0;
        overflow: auto; /*scroll*/
        display: block;
        background: linear-gradient(#F5DB13, #F2B807);
        font-size: 27px;
        border-radius: 20px;
        box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
        z-index: 3;
    }
    .logo-menu{
        display: block;
        margin-bottom: 0.5em;
    }
    .shadow-content {
        position: relative;
        z-index: 2;
        background: #212121;
    .wrapper{
        justify-content: flex-start;
    }
    .footer-container{
        flex-direction: column-reverse;
    }
    .footer-span-second{
        font-weight: bold;
    }
    }
